<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form" [formGroup]="formContato">
        <input 
            type="text" 
            placeholder="Nome" 
            formControlName="nome" 
            [class.valid]="formContato.controls['nome'].valid"
            [class.invalid]="formContato.controls['nome'].invalid && 
            (formContato.controls['nome'].touched || formContato.controls['nome'].dirty)"
        >
        <div *ngIf="formContato.controls['nome'].invalid && 
            (formContato.controls['nome'].touched || formContato.controls['nome'].dirty)">
            <small class="error-message" *ngIf="formContato.controls['nome'].hasError('minlength')">
                Nome inválido!
            </small>
            <small class="error-message" *ngIf="formContato.controls['nome'].hasError('required')">
                Campo obrigatório!
            </small>

        </div>
        <input 
            type="text" 
            placeholder="assunto"
            formControlName="assunto" 
            [class.valid]="formContato.controls['assunto'].valid"
            [class.invalid]="formContato.controls['assunto'].invalid && 
            (formContato.controls['assunto'].touched || formContato.controls['assunto'].dirty)"
        >
        <div *ngIf="formContato.controls['assunto'].invalid && 
            (formContato.controls['assunto'].touched || formContato.controls['assunto'].dirty)">
            <small class="error-message" *ngIf="formContato.controls['assunto'].hasError('minlength')">
                assunto inválido!
            </small>
            <small class="error-message" *ngIf="formContato.controls['assunto'].hasError('required')">
                Campo obrigatório!
            </small>
        </div>
        <input 
            type="tel" 
            placeholder="(00) 0000-0000"
            formControlName="telefone"
            [class.valid]="formContato.controls['telefone'].valid"
            [class.invalid]="formContato.controls['telefone'].invalid && 
            (formContato.controls['telefone'].touched || formContato.controls['telefone'].dirty)"
        >
        <div *ngIf="formContato.controls['telefone'].invalid && 
            (formContato.controls['telefone'].touched || formContato.controls['telefone'].dirty)">
            <small class="error-message" *ngIf="formContato.controls['telefone'].hasError('minlength')">
                telefone inválido!
            </small>
            <small class="error-message" *ngIf="formContato.controls['telefone'].hasError('required')">
                Campo obrigatório!
            </small>
        </div>
        <input 
            type="email" 
            placeholder="email"
            formControlName="email"
            [class.valid]="formContato.controls['email'].valid"
            [class.invalid]="formContato.controls['email'].invalid && 
            (formContato.controls['email'].touched || formContato.controls['email'].dirty)"
        >
        <div *ngIf="formContato.controls['email'].invalid && 
            (formContato.controls['email'].touched || formContato.controls['email'].dirty)">
            <small class="error-message" *ngIf="formContato.controls['email'].hasError('email')">
                email inválido!
            </small>
            <small class="error-message" *ngIf="formContato.controls['email'].hasError('required')">
                Campo obrigatório!
            </small>
        </div>
        <textarea maxlength="300"></textarea>
        <button>Enviar Mensagem</button>

    </form>
    <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15354.597161504562!2d-47.92104329573569!3d-15.82243596659458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a300fdc6bef35%3A0x48a0c453aaa2d46!2sCemit%C3%A9rio%20Campo%20da%20Esperan%C3%A7a!5e0!3m2!1spt-BR!2sbr!4v1779979705446!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </address>
</section>
